.gcode-container {
    width   : 100%;
    height  : 100%;
    position: relative;
}

.gcode-source-container,
.gcode-visualization-container {
    width   : 100%;
    height  : 100%;
    position: absolute;
}

.gcode-source-container {
    top : 0;
    left: 20%;
}

.gcode-visualization-container {
    z-index: -10;
    top    : 0;
    left   : 0;
}